{% extends "layout.html" %}

{% block body %}
<script>
	theme = '{{ theme }}';
</script>
<div class="container">
	<header>
		{% include "news.html" %}
		<ul>
			<div id="drop-links">
				<li><a href="/">MAIN</a></li>
				<li><a href="terminal">TERMINAL</a></li>
				<li><a onclick="dropdown()" class="active">[ DASHBOARD ]</a></li>
				<li><a href="map">MAP</a></li>
				<li><a href="about">ABOUT</a></li>
				{% include "clock.html" %}
			</div>
		</ul>
	</header>
	<div class="body-contents">
		<div class="wrapper">
			<div id="dashboard" style="padding-top: 0">
				<h2>Dashboard</h2>
				<hr>
				{% for msg in messages %}
				<span class="color">{{ msg[0] }}</span>: {{ msg[1]}}<br>
				{% endfor %}
				<br><br><br><br>
				<form method="post">
					<input id="message" type="text" placeholder="Leave a message" name="message" style="width: 85vw">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
