{% extends "layout.html" %}

{% block body %}
<script>
	theme = '{{ theme }}';
</script>
<div class="container">
	<header>
		<ul>
			<div id="drop-links">
				<li><a href="/">MAIN</a></li>
				<li><a href="terminal">TERMINAL</a></li>
				<li><a href="dashboard">DASHBOARD</a></li>
				<li><a href="map">MAP</a></li>
				<li><a href="about">ABOUT</a></li>
				<li><a onclick="dropdown()" class="active">[ ERROR ]</a></li>
				{% include "clock.html" %}
			</div>
		</ul>
	</header>
     <div class="body-contents">
     	<div id="div-main">
     		<div id="data-flex" style="height: auto; padding-bottom: 1rem;">
     			<h2>Error</h2>

				<p>IP address not accessible.<br>
				Reson: {{ reason }}.</p>
     		</div>
     	</div>
     </div>
</div>
{% endblock %}
