{% extends "layout.html" %}

{% block body %}
<div class="container">
	<header>
		<table id="div-info">
			<tr>
				<td id="news"><marquee behavior="scroll" direction="left" scrollamount=4>
					{% for item in news %}
						< {{ item.title }} {{ item.description }} >&emsp;
					{% endfor %}
				</marquee></td>
				<td id="weather">Weather in {{ data.city }}: {{ weather }}</td>
			</tr>
		</table>
		<ul>
			<div id="drop-links">
				<li><a onclick="dropdown()" class="active">[ MAIN ]</a></li>
				<li><a href="data">DATA</a></li>
				<li><a href="terminal">TERMINAL</a></li>
				<li><a href="dashboard">DASHBOARD</a></li>
				<li><a href="screensaver">SCREENSAVER</a></li>
				<li><a href="map">MAP</a></li>
				<li><a href="about">ABOUT</a></li>
				<div id="div-right">
					<li class="right">[Server running time: since reset]</li>
					<li class="right">{{ time }}</li>
				</div>
			</div>
		</ul>
	</header>

	<div class="body-contents">
		<div id="div-main">
			<div id="data-flex">
				<h2>Welcome {{ ip }}</h2>

				<p>You live in {{ data.country_name }}.<br>
				In {{ data.city }} city, in {{ data.region }}.<br>
				Your postal code is {{ data.postal }}.</p>

				<p>Your coordinates are: {{ data.latitude }} lat. {{ data.longitude }} long.</p>

				<p>Your languages are: {{ data.languages }}.</p>

				<p>Your ISP is {{ data.org }}.<br>
				Your IP version is {{ data.version }}.</p>

				--------------------

				<p>System info:</p>
			</div>
			<form>
				<input id="terminal" type="text" placeholder=">" name="command">
			</form>
		</div>
		<div class="vertical-flex">
			<div id="map">
				Map placeholder
			</div>
			<div class="wrapper">
				<div id="dashboard">
					Dashboard placeholder
					<br>
					-----
					<br>
					Some message...
					<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
					<form id="message-form">
						<input id="message" type="text" placeholder="Leave a message" name="message">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
