{% extends "layout.html" %}

{% block body %}
<script>
	latitude = {{ data.latitude }}
	longitude = {{ data.longitude }}
	theme = '{{ theme }}';
</script>

<div class="container">
	<header>
		{% include "news.html" %}
		<ul>
			<div id="drop-links">
				<li><a onclick="dropdown()" class="active">[ MAIN ]</a></li>
				<li><a href="terminal">TERMINAL</a></li>
				<li><a href="dashboard">DASHBOARD</a></li>
				<li><a href="map">MAP</a></li>
				<li><a href="about">ABOUT</a></li>
				{% include "clock.html" %}
			</div>
		</ul>
	</header>

	<div class="body-contents">
		<div id="div-main">
			<div id="data-flex">
				<h2>Welcome <span class="color">{{ ip }}</span></h2>

				<p>This is your digital fingerprint:</p>

				<p>You live in <span class="color">{{ data.country_name }}</span>.<br>
					In <span class="color">{{ data.city }} city</span>, in <span class="color">{{ data.region }}</span>.<br>
					Your postal code is <span class="color">{{ data.postal }}</span>.</p>

				<p>Your coordinates are: <span class="color">{{ data.latitude }} lat. {{ data.longitude }} long</span>.</p>

				<p>Your languages are: <span class="color">{{ data.languages }}</span>.<br>
					Your browser's language is <span id="language" class="color"></span></p>

				<p>Your OS is <span id="os" class="color"></span>. You have <span id="cpu" class="color"></span> <span class="color">CPU cores</span>.<br>
					Your browser's user agent is: <span id="user-agent" class="color"></span>.</p>

				<p>Your ISP is <span class="color">{{ data.org }}</span>.<br>
					Your IP version is <span class="color">{{ data.version }}</span>.</p>

				<p>You come from <a id="referrer" class="color" href="#"></a> and you are browsing <span id="online" class="color"></span>.<br>
					Your cookies are <span id="cookies" class="color"></span>.</p>

				<p>Your screen resolution is <span id="screenX" class="color"></span>x<span id="screenY" class="color"></span>.</p>
			</div>
			<form method="post">
				<input id="terminal" type="text" placeholder=">" name="command">
			</form>
		</div>
		<div class="vertical-flex">
			<div class="map"></div>
			<div class="wrapper">
				<div id="dashboard" style="width: 250px">
					Dashboard
					<hr>
					{% for msg in messages %}
					<span class="color">{{ msg.ip }}</span>: {{ msg.message }}<br>
					{% endfor %}
					<br><br><br><br>
					<form method="post">
						<input id="message" type="text" placeholder="Leave a message" name="message">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
